.bodyHome {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
    color: #ffff;
    background: linear-gradient(#141414, #2b2f61);
    font-size: 17px;
}

.headerHome {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.headerHome h1 {
    font-weight: 500;
    color: #dd890e;
}

a {
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
    transition: color 500ms;
}

a:hover {
    color: #dd890e;
}

.navHome {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.navHome a {
    margin-bottom: 10px;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
}



@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}