html {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Roboto', 'Barlow', 'Roboto Condensed' ,sans-serif; */

    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    justify-items: center;



    .content-grid {
        grid-column: 2/4;
        /* background-color: rgba(247, 0, 0, 0.274); */
        /* padding-block: 100px; */
    }

    &>header {
        position: sticky;
        top: 0;
        z-index: 10;
        background: var(--white-1-70);
        /* box-shadow: 1px -4px 20px 0px var(--gris-4); */

        & nav {
            grid-column: 2/4;
            padding: 1.5rem;
            font-size: 1.2rem;
        }

        &>nav>ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            color: var(--black-1);
            font-weight: 300;
            font-size: 1.4rem;


            & li:first-of-type {
                & a {
                    color: var(--org-1);
                }
            }

            & li {
                & a {
                    transition: color 550ms;
                    letter-spacing: 1px;
                }

                &:hover>a {
                    color: var(--org-1);
                }
            }
        }
    }

    .sec-grid {
        grid-column: 1/1;
        display: grid;
        width: 100%;
        max-width: 1350px;
        grid-template-columns: 50px 1fr 1fr 50px;
        grid-template-rows: auto;
        justify-content: center;

        .ts-to-left {
            justify-content: flex-start;
        }

    }

    .title-section-center {
        grid-column: 2/4;
        padding-block: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--azul-negro);
        font-family: 'Open Sans', sans-serif;
    }

    .background-section-portfolio {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ECECF7;
    }

    .sec-about-me {
        margin-bottom: 3rem;

        .mi-nombre {
            width: 100%;
            grid-column: 2/4;
            font-size: 4.40rem;
            letter-spacing: 1.5px;
            font-weight: 600;
            color: var(--azul-negro);
            margin-block: 5rem;
            text-transform: uppercase;

            &>span {
                color: var(--org-1);
            }
        }


        .about-me {
            width: 100%;
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            text-wrap: balance;

            &>h2 {
                top: -10px;
                display: flex;
                flex-direction: column;
                font-size: 3rem;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #023047;
                color: #ffffff;
                font-weight: 700;
                margin-block: 0 1.5rem;
                position: relative;

                &>span {
                    color: #F38900;
                    font-weight: 700;
                    -webkit-text-stroke-width: 0;
                    -webkit-text-stroke-color: unset;
                }
            }

            &>p {
                margin-inline-end: 1rem;
                margin-block: 0.80rem;
                font-size: 1.05rem;
                line-height: 1.3rem;
                letter-spacing: 0.35px;
            }

            &>p:first-of-type {
                margin-block-start: 0;
            }

        }

        .yo-fondo {
            width: 100%;
            grid-column: 3/5;
            background: url('../../../assets/img/yo-header.png');
            background-size: cover;
            background-position: center;
            border-radius: 0 0 0 4rem;
            position: relative;
            height: 100%;

            &::before {
                content: '';
                width: 20%;
                height: 100%;
                background: linear-gradient(to left, white, transparent);
                position: absolute;
                z-index: 9;
                right: 0;
                top: 0;
            }

        }
    }

    .sec-habilidades {
        .art-img-habilidades {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            padding-block-start: 0;
            padding-block-end: 5.5rem;

            &>div {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 2rem;

                &>img {
                    width: 100%;
                    max-width: 150px;
                    height: 150px;
                    box-shadow: inset 0px 0px 15px #0230474b;
                    object-fit: contain;
                    border-radius: 25px;
                    padding: 20px;

                    position: relative;
                    transition: box-shadow 350ms, transform 1050ms;

                    &:hover {
                        box-shadow: inset 0px 0px 0px #02304778;
                        transform: scale(1.2);
                    }
                }


            }
        }
    }

    .sec-portfolio {
        .pasarela-portfolio {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 3.5rem;

            padding-block-end: 5rem;
            overflow: hidden;

            &>article {
                width: 100%;
                max-width: 250px;
                height: 250px;
                background-color: var(--white-1);
                object-fit: contain;
                border-radius: 25px;
                padding: 20px;
                position: relative;
                background-size: cover;


                &:hover {
                    &>p>span {
                        bottom: 0px;
                        padding-bottom: 1rem;
                        opacity: 1;
                    }

                }

                &>p {
                    position: absolute;
                    bottom: -20px;
                    right: 0;
                    left: 0;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    background-color: var(--white-1);
                    border-radius: 0px 0px 25px 25px;
                    padding-block: 1rem;
                    box-shadow: 0px -2px 1px var(--org-1);

                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    overflow: hidden;
                    

                    &>span {
                        transition: bottom 850ms, opacity 850ms, padding 850ms;
                        opacity: 0;
                        position: relative;
                        bottom: -40px;
                        height: 0px;
                        padding-bottom: 0rem;
                    }

                }
            }

            &>article:nth-of-type(1) {
                background-image: url(../../../assets/img/aulaVirtual.png);
            }

            &>article:nth-of-type(2) {
                background-image: url(../../../assets/img/filmx.png);
            }

            &>article:nth-of-type(3) {
                background-image: url(../../../assets/img/landing.png);
            }

            &>article:nth-of-type(4) {
                background-image: url(../../../assets/img/calculadora.png);
            }
        }
    }










}