* {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2,
h3,
h1,
p,
h6 {
    padding: 0;
    margin: 0;
}

.text-wrap-balance {
    text-wrap: balance;
}

.hover-css {
    transition: color 900ms ease, fill 700ms ease;
    cursor: pointer;
}

.hover-css:hover {
    color: #e8912f;
    fill: #e8912f;
}

.padding-home-inline {
    padding-inline: 15px;
}

.padding-home-block {
    padding-block: 15px;
}


.body {
    background-color: #ffff;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    justify-content: center;

}

main {
    grid-column: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.max-content {
    width: 100%;
    max-width: 1200px;
}