* {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hoverCss {
    transition: color 900ms ease, fill 700ms ease;
    cursor: pointer;
}

.hoverCss:hover {
    color: #e8912f;
    fill: #e8912f;
}

.paddingHomeInline {
    padding-inline: 15px;
}
.paddingHomeBlock {
    padding-block: 15px;
}


.body {
    background-color: #ffff;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;

}


header .navHeader nav .navHeaderUl li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 8px 5px;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    transition: border-bottom 750ms;

}


header .navHeader nav .navHeaderUl span {
    color: #4f4f4f;
    padding-inline: 15px;
}


header .navHeader nav .navHeaderUl li:hover {

    border-bottom: 1px solid red;
}



.navHeaderUl ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.header {
    grid-column: 1;
    background-color: #1e1e1e;
    color: #ffff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 100px;
    padding: 0 15px;

}

.newsDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    
}

.maxContent {
    width: 100%;
    max-width: 1280px;
}

.header nav ul li a svg {
    fill: #ffff;
    width: 18px;
}

.header nav ul li a svg:hover {
    fill: #e8912f;
}


.navHeaderUl {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.busquedaRedes {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.busquedaRedes search button,
.busquedaRedes search span,
.busquedaRedes nav ul li a {
    background-color: transparent;
    border: 0;
    display: flex;
}

.busquedaRedes search button svg {
    fill: #ffffff;
    width: 18px;
}


main {
    grid-column: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.news {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    background-color: #1e1e1e;
    color: #ffffff;
    width: 100%;
    padding-block-end: 200px;
    /* position: relative; */
}

.containerNews {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 0 15px;
}

.bannerNews {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 70%;



}

.cardFotoNews {
    background-color: #1e1e1e;
    padding: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 500px;
    z-index: 8;
}

.fotoNews {
    background-image: url('../assets/img/MicrosoftTeams-image (21).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

}

.asideNews {
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-inline-start: 20px;
    gap: 40px;

    transition: width 750ms;
}



.asideNews h2 {
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.asideNewsBog {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
    gap: 25px;
}

.asideNews .asideNewsBog article {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1rem;
}

.asideNews .asideNewsBog article div h3 {
    margin: 0;
    font-size: 1rem;
    text-wrap: balance;
}

.asideNews .asideNewsBog article div time {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.asideNews .asideNewsBog article div {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.asideNews .asideNewsBog article img {
    object-fit: cover;
    max-height: 88px;
}



.slideRMBFilms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #f2f2f2;
    color: #ffffff;
    width: 100%;
    max-block-size: 320px;
    
    
}

.upMDF{
    top: -115px;
    position: relative;
}

.slideRMB{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.slideRMBFilms .slideRMB article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.slideRMBFilms .slideRMB article img{
    width: 220px;
}

.containarFilm{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    cursor: pointer;
    transition: box-shadow 750ms;
}

.containarFilm:hover{
    box-shadow: 0px 0px 25px grey;
}

.containerNavFilm{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    left: 10px;
    bottom: 10px;
}

.navSliderPictures {
    color: black;
    text-align: center;
    position: relative;
    top: 35px;
}


@media (max-width: 875px) {
    .asideNews {
        width: 60%;
    }

    .fotoNews {
        background-position: top;
    }
}

/* .bannerNews div + div {
    position: absolute;
} */