body {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    margin: 0;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    justify-items: center;

    .secGrid {
        grid-column: 1/1;
        display: grid;
        width: 100%;
        max-width: 1350px;
        grid-template-columns: 50px 1fr 1.2fr 50px;
        grid-template-rows: auto;
        justify-content: center;
    }

    .mi-nombre {
        width: 100%;
        grid-column: 2/4;
        font-size: 40px;
        font-weight: 800;
        color: red;
        margin-block: 2rem;
        text-transform: uppercase;
    }

    .about-me {
        width: 100%;
        grid-column: 2/3;
        background: yellow;

    }

.background-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}
    .img {
        width: 100%;
        grid-column: 3/5;
        background: blue;
        height: 350px;
    }

    .title-section{
        grid-column: 2/4;
        background-color: azure;
        padding-block: 50px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 4rem;
    }
    .skills{
        grid-column: 2/4;
        background-color: azure;
        padding-block: 100px;
    }
    &>header {
        
        & nav {
            grid-column: 2/4;
            background-color: red;
        }
        &>nav>ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;

        }
    }

    
}