.section-destacada-film {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    background-color: #ffffff;
    color: #ffffff;
    width: 100%;
    padding-block-start: 80px;
}

.container-samurai{
    background-color: #ffffff;
    color: #1e1e1e;
    padding-block: 75px;
    display: flex;
    justify-content: end;
    align-items: end;
    background-image: url(../../../assets/img/bg_samurai1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-position-y: bottom;

}

.container-samurai-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    max-width: 600px;
    padding: 25px;
    padding-inline-end: 100px;

    border-radius: 25px;
    background: #ffffff5e;
}

.container-samurai::before{
content: '';
width: 50%;
height: 50px;
min-width: 416px;
}

.container-samurai-info::before{
    content: '';
    width: 45px;
    height: 1px;
    background-color: #e0041d;
    position: relative;
    top: -25px;
}

@media (max-width: 900px) {
    .container-samurai::before{
        min-width: unset;
        width: 0;
    }
   
}

@media (max-width: 540px) {
   
    .section-destacada-film{
        padding-block-start: 0;
    }
}